In [8]:
import numpy as np
import pandas as pd

In [9]:
pd.read_csv('ex.csv')

   1   2   3   4
0  5   6   7   8
1  9  10  11  12

In [14]:
names = ['a','b','c','d','message']
pd.read_csv('csv/ex.csv',names = names)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12  pandas

In [16]:
names = ['a','b','c','d','message']
pd.read_csv('csv/ex.csv',names = names, index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
pandas   9  10  11  12

In [32]:
parsed = pd.read_csv('csv/csv_min.csv', index_col=['key1','key2'])

ValueError: Index  invalid

  key1\tkey2\tvalue1\tvalue2
0               one\ta\t1\t2
1               one\tb\t3\t4
2               one\tc\t5\t6
3               one\td\t7\t8
4              two\ta\t9\t10
5             two\tb\t11\t12
6             two\tc\t13\t14
7             two\td\t15\t16